# Valores por defecto para el despliegue de SpringConfigRecon en OpenShift
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

replicaCount: 1

podAnnotations: {}
podLabels: {}

nodeSelector: {}
tolerations: []
affinity: {}

backend:
  image:
    repository: ghcr.io/your-org/springconfigrecon-backend
    tag: "latest"
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 9150

  env: []

  resources:
    limits:
      cpu: "1"
      memory: 2Gi
    requests:
      cpu: 50m
      memory: 50Mi

frontend:
  image:
    repository: ghcr.io/your-org/springconfigrecon-frontend
    tag: "1.29.3-trixie-perl"
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 8080

  route:
    enabled: true
    host: ""
    path: /
    tls:
      enabled: false
      termination: edge
      insecureEdgeTerminationPolicy: Redirect

  env: []

  resources:
    limits:
      cpu: "1"
      memory: 2Gi
    requests:
      cpu: 50m
      memory: 50Mi
